.hoverbox span.preview .preview {
	display: none;
}

.hoverbox span.preview:hover .preview {
	display: block;
	position: absolute;
	top: -25px;
	left: 200px;
	z-index: 1;
}

.hoverbox span.preview img {
	padding: 2px;
	vertical-align: top;
 	width: 223px;
	height: 310px;
}


.hoverbox td {
	position: relative;
}
